@import "../../responsive.scss";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include sm{
    margin: 20px 0px;
  }

  a {
    transition: all 0.4s ease;
    &:hover {
      scale: 1.05;
    }
    @include sm {
      display: none;
    }
    // z-index: 1;
  }

  .left {
    display: flex;
    align-items: center;
    gap: 50px;
    flex: 3;

    .logo {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #333;
      font-weight: bold;
      font-size: 1.2rem;

      .logotext {
        @include md {
          display: none;
        }
      }

      .logotext {
        @include sm {
          display: initial;
        }
      }

      img {
        width: 28px;
      }

      // img {
      //   margin-right: 5px; /* Adjust margin as needed */
      //   height: 30px; /* Adjust height as needed */
      // }
    }

    a {
      text-decoration: none;
      color: #333;
      font-size: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .right {
    z-index: 20;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fcf5f3;
    @include md {
      background: inherit;
    }

    .user{
      display: flex;
      align-items: center;
      font-weight: bold;

      img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
      }

      span{
        @include sm{
          display: none;
        }
      }

      .profileLink{
        background-color: #fece51;
        // border-radius: 20px;
        padding: 12px 24px;
        border: none;
        position: relative;

        .notification{
          position: absolute;
          top: -8px;
          right: -8px;
          background-color: red;
          color: white;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 26px;
          height: 26px;
          
        }
      }
      
    }

    a {
      padding: 12px 12px;
      margin: 20px;
    }
    gap: 20px;
    height: 100%;
    .signup {
      background-color: #fece51;
    }

    .menuIcon {
      z-index: 1;
      display: none;
      @include sm {
        display: initial;
      }
    }

    img {
      width: 36px;
      height: 36px;
      cursor: pointer;
    }

    .menuItems {
      position: absolute;
      top: 0;
      right: -50%;
      background: black;
      color: white;
      height: 100vh;
      width: 50%;
      transition: all 0.5s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &.active {
        right: 0;
        a {
          display: initial;
        }
      }
    }
  }
}
